html, body{
    height: 100%;
    margin: 0;
    background-image: url(Pictures/Fond.png);
}
#row{
    height: 100%;  
    margin: 0;
}
.column{
    float: left;
    height: 100%;
    
}
#menu{
    width: 25%;
}
#game-board{
    width: 50%;
}

#game-table{
    border: 5px solid #3A5B2A;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.case {
    border: 2px solid #3A5B2A;
    width: 10%;
    height: 10%;
}

#pions{
    width: 25%;
}
.dot {
    height: 55px;
    width: 55px;
    background-color: #3366FF;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    padding: 0;
    text-align: center;
    position: absolute;
    color: white;
}

.grey {
    background-color: grey;
}

#chrono{
    border: 1px solid black;
    font-size: 2em;
    width: 99%;
    margin-left: 0px;
    text-align: center;
    display: block;
}

.blue.p10{
    background-image: url(Pictures/blue/Marechal.jpg);
}
.blue.p9{
    background-image: url(Pictures/blue/general.jpg);
}
.blue.p8{
    background-image: url(Pictures/blue/colonel.jpg);
}
.blue.p7{
    background-image: url(Pictures/blue/major.jpg);
}
.blue.p6{
    background-image: url(Pictures/blue/capitain.jpg);
}
.blue.p5{
    background-image: url(Pictures/blue/lieutenant.jpg);
}
.blue.p4{
    background-image: url(Pictures/blue/sergeant.jpg);
}
.blue.p3{
    background-image: url(Pictures/blue/demineur.jpg);
}
.blue.p2{
    background-image: url(Pictures/blue/scout.jpg);
}
.blue.p1{
    background-image: url(Pictures/blue/spy.jpg);
}
.blue.p0{
    background-image: url(Pictures/blue/flag.png);
}
.blue.bomb{
    background-image: url(Pictures/blue/bomb.png);
}
.blue.back{
    background-image: url(Pictures/blue/black.png);
}

.red.p10{
    background-image: url(Pictures/red/Marechal.jpg);
}
.red.p9{
    background-image: url(Pictures/red/general.jpg);
}
.red.p8{
    background-image: url(Pictures/red/colonel.jpg);
}
.red.p7{
    background-image: url(Pictures/red/major.jpg);
}
.red.p6{
    background-image: url(Pictures/red/capitain.jpg);
}
.red.p5{
    background-image: url(Pictures/red/lieutenant.jpg);
}
.red.p4{
    background-image: url(Pictures/red/sergeant.jpg);
}
.red.p3{
    background-image: url(Pictures/red/demineur.jpg);
}
.red.p2{
    background-image: url(Pictures/red/scout.jpg);
}
.red.p1{
    background-image: url(Pictures/red/spy.jpg);
}
.red.p0{
    background-image: url(Pictures/red/flag.png);
}
.red.bomb{
    background-image: url(Pictures/red/bomb.png);
}
.red.back{
    background-image: url(Pictures/red/black.png);
}

button{
    width: 49%;
}
#random{
    right: 0;
}
#start{
    width: 99%;
}

#pionStock{
    height: 40%;
    width: 99%;
    margin-bottom: 30px;
}

.lake{
    border: 0px;
}
